.bgdiv{
    /*background-image: url("./images/backgroundimage.jpg");*/
    width: 100vw;
    background-color:DarkSlateGrey;
    padding:0.5%;
   
}
.search-bar-container{
align-items: center;
margin-left: 1%;
margin-right: 2%;
display: flex;
flex-direction: column;
}
.input-wrapper{
    background-color: white;
    width: 100%;
    height: 2.5rem;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}
#form1{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    margin-left:2%;
}
#form1:focus{
    outline: none;
}
